doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Explorer
    body 
        div 
            a(href=`/go/back`) back
        each file in files    
            div
                a(href=`/${file.name}`) #{file.name}
                span  `    #{file.type}`